Repository defenseunicorns/compliance-auditor, changes with the owners that CODEOWNERS names for each.
All owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz, @bdfinst

CODEOWNERS:

* @jeff-mccoy @brandtkeller @CloudBeard @mike-winberry @Alvin-zzz

/website/ @brandtkeller @bdfinst

# Additional privileged files
/CODEOWNERS @jeff-mccoy @brandtkeller
/LICENSE @jeff-mccoy @brandtkeller

Fix: explicit workflow permissions
  .github/workflows/test-e2e.yml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Add Netlify config
  netlify.toml
  website/README.md
  website/package.json
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz, @bdfinst

Fix hugo command
  netlify.toml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Install NPM deps
  netlify.toml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

draft: working on backmatter payload location for control validation
  demo/oscal-component.yaml
  src/cmd/validate/validate.go
  src/pkg/common/oscal/component.go
  src/types/oscal/types.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Feat: payload in backmatter reference
  demo/oscal-component.yaml
  go.mod
  go.sum
  src/pkg/common/oscal/component.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: update E2E tests
  src/cmd/validate/validate.go
  src/test/e2e/scenarios/pod-label/oscal-component.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: reduce yaml dependencies list
  go.mod
  go.sum
  src/pkg/common/oscal/component.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Remove oscal types and reference upstream library
  go.mod
  go.sum
  src/cmd/validate/validate.go
  src/pkg/common/oscal/component.go
  src/types/oscal/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Add comments to the core logic of the updated code
  src/cmd/validate/validate.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Chore: update go version and oscal version
  demo/oscal-component.yaml
  go.mod
  go.sum
  src/test/e2e/scenarios/pod-label/oscal-component.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Feat: initial creation of Lula report in assessment result model
  .gitignore
  go.mod
  go.sum
  src/cmd/validate/validate.go
  src/pkg/common/oscal/assessment-result.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: remove old placeholder report generation logic
  src/cmd/validate/validate.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: troubleshooting netlify failures in CI
  netlify.toml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: netlify publish location
  netlify.toml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

fix: ad missing basepath param
  netlify.toml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

chore: Add Lula favicon
  website/static/favicons/android-144x144.png
  website/static/favicons/android-192x192.png
  website/static/favicons/android-36x36.png
  website/static/favicons/android-48x48.png
  website/static/favicons/android-72x72.png
  website/static/favicons/android-96x96.png
  website/static/favicons/android-chrome-192x192.png
  website/static/favicons/android-chrome-512x512.png
  website/static/favicons/android-chrome-maskable-192x192.png
  website/static/favicons/android-chrome-maskable-512x512.png
  website/static/favicons/apple-touch-icon-180x180.png
  website/static/favicons/apple-touch-icon.png
  website/static/favicons/favicon-16x16.png
  website/static/favicons/favicon-32x32.png
  website/static/favicons/favicon.ico
Owners: @brandtkeller, @bdfinst

Comments and uuid generation
  src/pkg/common/oscal/assessment-result.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Feat: add observations
  src/cmd/validate/validate.go
  src/pkg/common/oscal/assessment-result.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Feat: switch to go-oscal types
  go.mod
  go.sum
  src/cmd/validate/validate.go
  src/pkg/common/oscal/assessment-result.go
  src/pkg/common/oscal/component.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: validate oscal input and output
  demo/oscal-component.yaml
  src/cmd/validate/validate.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Fix: consistant naming for ar model
  src/cmd/validate/validate.go
  src/pkg/common/oscal/assessment-results.go
  src/test/e2e/pod_validation_test.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

Prototyping collections
  demo/oscal-component.yaml
  src/pkg/common/kubernetes/resource.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

collection initial iteration
  NOTES.md
  demo/oscal-component.yaml
  src/pkg/common/kubernetes/resource.go
  src/pkg/providers/opa/opa.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: squashed previously-unsigned commits
  src/test/e2e/api_validation_test.go
  src/test/e2e/scenarios/api-field/api.fail.yaml
  src/test/e2e/scenarios/api-field/api.pass.yaml
  src/test/e2e/scenarios/api-field/oscal-component.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

test: roughed in e2e test
  src/test/e2e/api_validation_test.go
  src/test/e2e/scenarios/api-field/all.yaml
  src/test/e2e/scenarios/api-field/api.pass.yaml
  src/test/e2e/scenarios/api-field/configmap.fail.yaml
  src/test/e2e/scenarios/api-field/configmap.pass.yaml
  src/test/e2e/scenarios/api-field/pod.yaml
  src/test/e2e/scenarios/api-field/service.yaml
  src/test/util/utils.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: correction to oscal doc format
  src/test/e2e/scenarios/api-field/oscal-component.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: added placeholder in lula itself for api domain logic
  src/pkg/providers/opa/opa.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: adding notes
  src/pkg/providers/opa/opa.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: created custom ingress object to forward traffic to the api-field service for the api validation work.
  src/test/e2e/scenarios/api-field/all.yaml
  src/test/e2e/scenarios/api-field/ingress.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: close to having the Nginx ingress controller deployed with a wait to prevent any test execution until the deployment is up. Having some trouble there but working through it.
  src/test/e2e/main_test.go
  src/test/e2e/nginx-ingress.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: waits for nginx ingress controller pod ready
  src/test/e2e/main_test.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: working ingress-controlled test cluster
  src/test/e2e/api_validation_test.go
  src/test/e2e/main_test.go
  src/test/e2e/scenarios/api-field/oscal-component.yaml
  src/test/util/utils.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: needs cleaning but... got a validated report, weeeeee
  src/pkg/providers/opa/opa.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

wip: working lula --> oscal doc invocation
  src/pkg/providers/opa/opa.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

chore: rm comment
  src/pkg/providers/opa/opa.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

test: updated e2e
  src/test/e2e/api_validation_test.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

test: basic API call tests work, wee!
  src/cmd/validate/validate.go
  src/pkg/providers/opa/opa.go
  src/test/e2e/api_validation_test.go
  src/test/e2e/main_test.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

test: rm unneeded yaml
  src/test/e2e/scenarios/api-field/all.yaml
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz

WIP: reviewing transient datatypes
  NOTES.md
  demo/oscal-component.yaml
  src/pkg/common/kubernetes/resource.go
  src/pkg/providers/opa/opa.go
  src/types/types.go
Owners: @jeff-mccoy, @brandtkeller, @CloudBeard, @mike-winberry, @Alvin-zzz
